{% extends 'boiletplate.html' %}
{% load static %}

{% block header_links %}
  <link rel="stylesheet" href="{% static 'blog/home.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="https://picsum.photos/400" alt="Gohan - The Author of this Blog" />
      <h2>Gohan's Blog</h2>
    </header>
    <p>Hi, I am Gohan and this is a blog about my developer journey</p>
  </section>
  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% include 'blog/includes/post-intro.html' %}
    </ul>
  </section>
  <section id="about">
    <h2>What I do</h2>
    <p>I love programming in general but web development in particular, at least currently</p>
    <p>My goal is to have my own successful web application</p>
  </section>
{% endblock %}
