{% extends 'boiletplate.html' %}
{% load static %}

{% block title %}
  Post Title
{% endblock %}

{% block header_links %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <article>
      <img src="{{ post.image }}" alt="Post Title" />
      <address>By {{ post.author }}</address>
      <div>
        Last updated on <time datetime="">{{ post.date|date:'D d M Y' }}</time>
      </div>
    </article>
  </section>

  <main>
    <p>{{ post.content|linebreaks }}</p>
  </main>
{% endblock %}
